body {
  margin: 10pt 10pt;
  padding: 10pt 10pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: solid 2px grey;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.routing {
  border: solid 1px black;
  background-color: lightblue;
  overflow: hidden;
  padding-bottom: 10pt;
}

.routing li {
  float: left;
  width: 33%;
}